body {
  font-family: "Poppins", serif;
  margin: 0 auto;
  padding: 0 20px;
}

/* SECTION 1*/
#section-1 {
  background-color: #31363f;
  color: white;
  padding: 25px 0;
}

.section-1-container {
  width: 960px;
  margin: 0 auto;
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex: 1 1 auto;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  justify-items: auto;
}

.nav-header {
  font-weight: 500;
  font-size: large;
  margin-top: 13px;
}
.links {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 12px;
  font-weight: none;
  gap: 16px;
  margin-top: none;
  padding: 6px 6px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.hero-items-left {
  display: flex;
  flex-direction: column;
}

.hero-header {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
  text-align: left;
  margin-bottom: 0;
}

.hero-text {
  font-weight: 200;
  font-size: small;
  margin-bottom: 4px;
}

button {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4b70f5;
  width: 120px;
  height: inherit;
  border-radius: 8px;
}

.hero-img {
  width: 480px;
  height: 200px;
}

/* SECTION 2*/
#section-2 {
  background-color: white;
  color: black;
  padding: 50px 0;
  min-height: 200px;
}

.section-2-container {
  width: 960px;
  margin: 0 auto;
}

.section-2-header {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-bottom: 25px;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.info-img {
  border: 5px solid rgb(152, 114, 8);
  height: 50%;
  width: 50%;
  border-radius: 12px;
  margin-bottom: 0;
}

.info-text {
  margin-top: 5px;
  font-weight: 200;
  font-size: 10px;
  width: 50%;
  text-align: center;
}

/* SECTION 3*/
#section-3 {
  background-color: rgb(241, 241, 241);
  color: black;
  padding: 50px 0;
  min-height: 200px;
}

.section-3-container {
  width: 960px;
  margin: 0 auto;
}

.quote {
  font-weight: 200;
  font-size: 22px;
  text-align: left;
  font-style: italic;
}

.author {
  text-align: right;
  font-weight: 500;
}

.quote-content {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
